# =========================
server/models/mp_models/
signbridge/assets/bdsl_poses/
signbridge/build/
# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class


# =========================
# OS / IDE
# =========================
.DS_Store
Thumbs.db
.vscode/